.header {
    background-color: white;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
    /* margin: 15px 30px; */
    padding: 0 40px;
    /* border-radius: 10px; */
}

.header .links_container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav {
    list-style: none;
    display: flex;
    margin-bottom: 0;
    padding: 0;
}

.nav a {
    border-radius: 6px;
    font-weight: 500;
    font-size: 15px;
    margin: 10px 5px;
    padding: 15px 30px;
    transition: 0.5s;
    text-decoration: none;
    color: black;
}

.nav a:hover {
    background-color: #3577f0;
    color: white;
}

.active_link {
    background-color: #3577f0;
    color: white !important;
}

.cart_count {
    background-color: #3577f0;
    font-size: 12px;
    font-weight: 500;
    color: whitesmoke;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    line-height: 19px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10px;
    right: 8px;
}

.heart_icon,
.cart_icon,
.user_icon {
    cursor: pointer;
    transition: 0.5s;
}

.heart_icon:hover,
.cart_icon:hover,
.user_icon:hover {
    color: #3577f0;
}