@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
  font-family: 'DM Sans', sans-serif;
}

.slick-list .slick-track .slick-slide div {
  border: 1px solid rgb(226, 226, 226);
  border-radius: 6px;
  height: 200px;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slick-list .slick-track .slick-slide div img {
  width: 70%;
}

.prevArrow {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: whitesmoke;
  border-radius: 6px;
  margin-bottom: 30px;
}

.nextArrow {
  cursor: pointer;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 70px;
  width: 50px;
  height: 50px;
  background: whitesmoke;
  border-radius: 6px;
  margin-bottom: 30px;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 30px !important;
  right: 30px;
  display: block;
  width: 45px;
  height: 45px;
  line-height: 46px;
  background: #3577f0;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgb(0 0 0 / 20%);
  z-index: 9;
  transition: all .3s;
}

.figure {
  position: relative;
  width: 360px;
  max-width: 100%;
}

.figure img.image-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .5s;
}

.figure:hover img.image-hover {
  opacity: 1;
}

/* timer */

/* Limited-offer-section */

.day-container,
.hour-container,
.min-container,
.sec-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 20px 0 0;
}

.day, .hour, .min, .sec {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  font-size: 28px;
  font-weight: 700;
  background-color: rgb(38, 38, 38);
}

.title {
  margin-top: 10px;
}

.day p, .hour p, .min p, .sec p {
  margin: 0;
  color: white;
}