.hero_section_wrapper {
    background-image: url('https://new.axilthemes.com/demo/template/etrade/assets/images/others/shape-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f9f3f0;
    min-height: 550px;
    padding: 150px 0 90px 0;
}

.hero_section_container {
    background-image: url('https://new.axilthemes.com/demo/template/etrade/assets/images/others/shape-2.png');
    background-repeat: no-repeat;
    background-position: right;
}

.hero_title_wrapper .deals_title {
    color: #3577f0;
    font-weight: 800;
    margin: 0;
}

.hero_title_wrapper h1 {
    font-weight: 700;
    width: 300px;
    margin-bottom: 60px;
}

.hero_title_wrapper .fire_icon_circle {
    background-color: #3577f0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: whitesmoke;
    margin-right: 10px;
}

.hero_title_wrapper div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

/* categories section */

.categories_section_wrapper {
    padding: 80px 0 0 0;
}

.categories_title_wrapper .tag_icon_circle {
    background-color: #3577f0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: whitesmoke;
    margin-right: 10px;
}

.categories_title_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.categories_title_wrapper .categories_title {
    color: #3577f0;
    font-weight: 800;
    margin: 0;
}

/* sale section */

.sale_section_wrapper {
    padding: 150px 0 0 0;
}

.sale_title_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sale_title_wrapper .sale_title {
    color: #3577f0;
    font-weight: 800;
    margin: 0;
}

.sale_title_wrapper .headphone_icon_circle {
    background-color: #3577f0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: whitesmoke;
    margin-right: 10px;
}

/* products section */

.products_section_wrapper {
    padding: 150px 0 0 0;
}

.products_title_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.products_title_wrapper .products_title {
    color: #3577f0;
    font-weight: 800;
    margin: 0;
}

.products_title_wrapper .bag_icon_circle {
    background-color: #3577f0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: whitesmoke;
    margin-right: 10px;
}